  <div><img id="logo" src="./img/critter_logo.png" alt="critter logo"></div>
  <h1>Cretin #{{userId}}</h1>
  <h2>Follows: </h2>
  <div>
    {{#each data}}
      <p> * "{{this.followingId}}"</p>
    {{/each}}
  </div>
  <a href="/newTweet">Post a Creet</a> |
  <a href="/signOut">Sign Out</a>

