
  <div><img id="logo" src="./img/critter_logo.png" alt="critter logo"></div>
  <h2>The Secretest Critter Page you'll ever meet!</h2>
  <p>Welcome friendly cretin number {{userId}}! You have traversed the long and dangerous road known as 'logging in'. Make yourself at home. Feel free to 'creet' as they say nowadays.</p>
    <div id="postNewTweet">
  	  <a href="/newTweet">Post a Creet</a>
  </div>
  <br>
  <a href="/user/{{userId}}">View my Profile</a> |
  <a href='/allTweets'>View All Creets</a> |
  <a href='/signOut'>Sign Out</a>

